
<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <h1 class="page-brand">Application Control</h1>
      </div>
    </div>
  </nav>


<div class="container text-center">
    <div class="navbar-form pull-left row" id="search-bar">
        <div class="form-group">
          <input [(ngModel)]="filtervalue" #ctrl="ngModel" type="text" class="form-control" placeholder="Search"  required>
        </div>
        <button type="submit" class="btn btn-default" (click)="getApplication(filtervalue)">Search</button>
    </div>
    <div *ngIf="!init" class="row">
        <h4>This is the application controller searching application. Input the keyword into the search bar then click search for your query.</h4>
    </div>
    <div *ngIf="init" class="result-body">
        <div class="row page-header">
            <h1 class="pagetitle">Search Results</h1>
            <p>Showing results for <strong>{{filter==''? 'all' : filter}}</strong></p>
        </div>
        <div class="row" style="width:100%">
          <div class="result">
            <div class="col-md-12 apps" *ngFor="let application of applications | paginate: { itemsPerPage: 6, currentPage: p }">
                  <div class="result-type"><img src="/assets/images/app-control.svg?v=5" width="45">Application</div>
                  <div class="result-name">{{application.name}}</div>
                  <div class="result-intro">{{application.intro}}</div>
                  <div class="result-tag">
                    <p>
                        <strong>Added:</strong>{{application.added}}     
                    </p>
                    <p>
                        <strong>Category:</strong> {{application.category}}
                    </p>
                  </div>
            </div>
          </div>
        </div>

        <div id="pagination-controls" class="row">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div class="footer">
    <p>Author: Yingchao Yu</p>
</div>